{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {%block title%}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{%static 'main/css/layout.css'%}">
    {% block static %}
    {% endblock %}
</head>

<body>
    <div class="Header">
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/news/">Новости</a></li>
            <li><a href="/about/">О нас</a></li>
            <li><a href="/login/">Вход/Регистрация</a></li>
        </ul>
    </div>
    {% block content%}
    {% endblock %}
</body>

</html>